aiohttp==3.6.3
altgraph==0.17
appdirs==1.4.4
asgiref==3.2.7
astroid==2.4.0
async-timeout==3.0.1
attrs==20.2.0
beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
colorama==0.4.3
comtypes==1.1.7
covid==2.2.10
cycler==0.10.0
distlib==0.3.1
dj-database-url==0.5.0
Django==3.0.7
django-crispy-forms==1.9.2
docopt==0.6.2
docx2pdf==0.1.7
emoji==0.5.4
emojis==0.5.1
et-xmlfile==1.0.1
file-search==0.0.3
filelock==3.0.12
future==0.18.2
geographiclib==1.50
geoip2==4.1.0
geopy==2.0.0
gTTS==2.1.1
gTTS-token==1.1.3
html5lib==1.0.1
idna==2.9
imageio==2.8.0
imageio-ffmpeg==0.4.2
IMDbPY==6.8
isort==4.3.21
jdcal==1.4.1
Js2Py==0.70
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
lxml==4.5.1
matplotlib==3.2.1
maxminddb==2.0.3
mccabe==0.6.1
MouseInfo==0.1.3
mpmath==1.1.0
multidict==4.7.6
music==0.7b0
mysql-connector-python==8.0.20
numpy==1.18.5
openpyxl==3.0.3
packaging==20.4
pandas==1.0.4
pdfminer==20191125
pefile==2019.4.18
pep8==1.7.1
Pillow==7.1.2
pipwin==0.5.0
playsound==1.2.2
plyer==1.4.3
protobuf==3.12.2
PyAudio @ file:///C:/Users/Mausam/pipwin/PyAudio-0.2.11-cp38-cp38-win32.whl
PyAutoGUI==0.9.50
pycryptodome==3.9.7
pydantic==1.5.1
pygame==1.9.6
PyGetWindow==0.0.8
PyInstaller==3.6
pyjsparser==2.7.1
PyJWT==1.7.1
pylint==2.5.0
pylint-django==2.0.15
pylint-plugin-utils==0.6
pyparsing==2.4.7
PyPDF2==1.26.0
pyperclip==1.8.0
pypiwin32==223
pypng==0.0.20
PyPrind==2.11.2
PyQRCode==1.2.1
PyRect==0.1.4
PyScreeze==0.1.26
pySmartDL==1.3.3
python-dateutil==2.8.1
pyttsx3==2.87
pytube==9.6.0
pytube3==9.6.4
PyTweening==1.0.3
pytz==2020.1
pywin32==227
pywin32-ctypes==0.2.0
SpeechRecognition==3.8.1
SQLAlchemy==1.3.17
sqlparse==0.3.1
sympy==1.6
termcolor==1.1.0
toml==0.10.0
tqdm==4.46.0
typing-extensions==3.7.4.2
tzlocal==2.1
urllib3==1.25.9
virtualenv==20.0.25
virtualenvwrapper-win==1.2.6

